@import url('https://fonts.googleapis.com/css2?family=Alike&family=Caveat&family=Dosis:wght@600&family=Inspiration&family=Merriweather&family=Nanum+Myeongjo&family=Nunito+Sans:opsz,wght@6..12,500&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Patrick+Hand&family=Raleway:wght@100&family=Roboto:wght@100&family=Shippori+Antique+B1&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: "Outfit", sans-serif; */
}

body{
  background: black;
}

h1,h4,p,a{
  color: white;
  text-decoration: none;
}

ul{
  list-style-type: none;
}

.btn{
  padding: 12px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  background: rgb(248,217,15);
  color: #222;
  border: 1px solid #fff;
  font-weight: 600;
  cursor: pointer;
}

.btn-light{
  background-color: transparent;
  color: #fff;
}

.btn:hover{
  background: rgba(255,255,255,0.2);
  color: #fff;
  transition: 0.3s;
}
